{% extends 'base.html' %}

<!-- pip install django-bootstrap4 -->

<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>-->


<!--{% load bootstrap4 %}-->
<!--{% bootstrap_css %}-->
<!--{% bootstrap_javascript %}-->



{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ block.title }}{% endblock %}</title>
</head>
<body>
<h1>I am an Index Page.</h1>

{% for post in posts %}
    <div>
         <h3> <a href = "/post/{{ post.slug }}"> {{ post.title }} </a></h3>
         <p> {{ post.summary }} </p>
    </div>
{% endfor %}
</body>
</html>

{% endblock %}